@page
@model FlowerShopManagentWebClient.Pages.AdminAreea.Order.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].LastModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Freight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
